{% extends "base.html"  %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-9">
      <h1>{{project.name}}</h1>
    </div>
    <div class="col-3">
      <a class="btn btn-primary" href="{% url 'todo:create_task' %}"><li class="fas fa-plus"></li>Create Task</a>
    </div>
  </div>
</div>

{% include "todo/tasks.html" with tasks=project.tasks name=""  %}
{% include "todo/tasks.html" with tasks=project.completed_tasks name="Finished Tasks:-"  %}

{% endblock %}
